/* Align horizontally the footer text to the center and font for its text*/
.footer--text {
    text-align: center;
    margin-top: 10px;
    color: var(--lightgray);
    font-family: "Orbitron-Bold";
}
