* {
	margin: 0px;
	padding: 0px;
}

/* Import fonts here */
@font-face {
	font-family: "Orbitron-Bold";
	src: url("../fonts/Orbitron-Bold.ttf") format("truetype");
}

/* Define colors here */
:root {
	--orange: #f26822;
	--dark-grey: #1c1c1c;
	--lightgray: #cccccc;
	--white: #ffffff;
}

/* Page background color */
.home--mainbody {
	background-color: var(--dark-grey);
	padding-top: 10px;
	font-family: "Orbitron-Bold";
}

.home--header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 5px;
	font-family: "Orbitron-Bold";
}
.header--list {
	display: flex;
	flex-direction: row;
	gap: 5px;
	padding: 10px;
}
.header--listelement {
	list-style: none;
	display: flex;
}
.footer--text {
	text-align: center;
	padding-top: 10px;
	color: var(--lightgray);
	font-family: "Orbitron-Bold";
}
.header--title {
	color: var(--orange);
	font-family: "Orbitron-Bold";
}