* {
	margin: 0px;
	padding: 0px;
}

/* Import fonts here */
@font-face {
	font-family: "Orbitron-Bold";
	src: url("../fonts/Orbitron-Bold.ttf") format("truetype");
}

/* Define colors here */
:root {
	--orange: #f26822;
	--dark-grey: #1c1c1c;
	--lightgray: #cccccc;
	--white: #ffffff;
}

/* Page background color */
.home--mainbody {
	background-color: var(--dark-grey);
}
