<div class="header--left">
	<img class="header--logo" src="../media/moneromesh-962x962-nobg.png" alt="MoneroMesh Logo">
	<h1 class="header--title">MoneroMesh</h1>
</div>
<div class="header--right">
	<ul class="header--list">
		<li class="header--listelement header--listelement--about">
			<a href="../pages/about.html" class="header--listanchor header--listanchor--about">About</a>
		</li>
		<li class="header--listelement header--listelement--moneronode">
			<a href="../pages/monerod.html" class="header--listanchor header--listanchor--moneronode">Monero Node</a>
		</li>
		<li class="header--listelement header--listelement--p2pool">
			<a href="../pages/p2pool.html" class="header--listanchor header--listanchor--p2pool">P2Pool</a>
		</li>
		<li class="header--listelement header--listelement--githublogo">
			<!-- GitHub logo with link -->
			<a href="#" class="header--listanchor header--listanchor--githublogo">
				<img>
			</a>
		</li>
</ul>
</div>
